[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Set of tools for a better workflow when solving Kattis problems.
[access "refs/*"]
	owner = group user/Johan Sannemo (jsannemo)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Johan Sannemo (jsannemo)
	label-Verified = -1..+1 group user/Johan Sannemo (jsannemo)
	push = group user/Johan Sannemo (jsannemo)
	read = group user/Johan Sannemo (jsannemo)
	rebase = group user/Johan Sannemo (jsannemo)
	removeReviewer = group user/Johan Sannemo (jsannemo)
	submit = group user/Johan Sannemo (jsannemo)
[access "refs/heads/*"]
	create = group user/Johan Sannemo (jsannemo)
	push = +force group user/Johan Sannemo (jsannemo)
	pushMerge = group user/Johan Sannemo (jsannemo)
	read = group user/Johan Sannemo (jsannemo)
[access "refs/tags/*"]
	push = group user/Johan Sannemo (jsannemo)
	push = +force group user/Johan Sannemo (jsannemo)
